
<div class="rightchothue">
    <div class="title main-bg-button1">
        Cho thuê nhà đất tại Bình Dương
    </div>

    <ul>
        <li>
            <a href="#">
                Thành phố Thủ Dầu Một (<span>15</span>)
            </a>
        </li>
        <li>
            <a href="#">
                Thị xã Dĩ An (<span>15</span>)
            </a>
        </li>
        <li>
            <a href="#">
                Thành phố Thủ Dầu Một (<span>15</span>)
            </a>
        </li>
        <li>
            <a href="#">
                Thị xã Thuận An (<span>15</span>)
            </a>
        </li>
        <li>
            <a href="#">
                Thị xã Tân Uyên (<span>15</span>)
            </a>
        </li>
    </ul>
</div>
