
@{
    ViewBag.Title = "GetChoThue";
}

<div class="row">
    <div class="col-md-9">
        <div class="direction">
            <a href="#">Trang Chủ</a> <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="#">Cho Thuê</a> <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="#">Nhà phố mặt tiền</a> <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="#">Thành phố thủ dầu một</a> <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="#">Phường hiệp thành</a>
        </div>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="ctdetail">
            <div class="title">
                CHO THUÊ VĂN PHÒNG, NHÀ Ở LIỀN KỀ TẠI BIÊN HÒA
            </div>
            <div class="time">
                Ngày đăng: Hôm nay lúc 17:11
            </div>

            <div class="slide">
                @Html.Partial("_slide")
            </div>

            <div class="description">
                <div class="xtitle">
                    Thông tin cần biết
                </div>

                <div class="desc">
                    Beryl Center là nhà phố, văn phòng cho thuê liền kề biệt lập, an ninh, đẳng cấp, mới 100%, nhiều ưu đãi, khuyễn mãi hấp dẫn. <br />
                    Diện tích 356m2 - 796m2.<br />
                    Nhà lầu 3 tầng, có chỗ đậu ôtô.<br />
                    Khu dân cư đông đúc, gần chợ An Bình, trường học mẫu giáo, cấp 1, cấp 3 , trường lục quân .<br />
                    Khu phố liền kề mặt bằng tiện kinh doanh buôn bán, phòng khám , bệnh viện , có nhiều căn để lựa chọn , hãy liên hệ sớm !!!<br />
                    Tọa lạc gần các khu công nghiệp Tam Phước, Long Đức, Long Thành.<br />
                    Địa chỉ: 190 đường Phùng Hưng, Tam Phước, TP Biên Hòa, Đồng Nai.<br />
                </div>

                <div class="ctinfo">
                    <div>
                        <b>Địa chỉ: </b> <span>190 Phường Tam Phước, Thành phố Biên Hoà, Đồng Nai</span>
                    </div>
                    <div class="dientich">
                        <span><b>Giá: 15 triệu/tháng</b></span>
                        <span>Diện tích: <b>150m2</b></span>
                    </div>
                </div>
            </div>

            <div class="ulienhe">
                <div class="utitle">
                    Thông tin liên hệ
                </div>
                <div class="userlh">
                    <div class="row">
                        <div class="col-sm-3">
                            <img alt="phone" src="~/images/phone.png" />
                        </div>
                        <div class="col-sm-9">
                            <p>
                                Bùi Văn Tuân
                            </p>
                            <p>
                                0978.757.125
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner">
                <img alt="banner" src="~/images/banner_680x100px.gif" />
            </div>

            <div class="property">
                <div class="xtitle">
                    Đặc tính tài sản
                </div>
                
                <div class="dtproperty">
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="b1">
                                Mã tin
                            </span>
                            <span class="b2">
                                A09124
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="b1">
                                Hướng
                            </span>
                            <span class="b2">
                                Đông
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="b1">
                                Phòng ăn
                            </span>
                            <span class="b2">
                                <img alt="check" src="~/images/check.gif" />
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="b1">
                                Loại tin
                            </span>
                            <span class="b2">
                                Cho thuê
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="b1">
                                Lộ giới
                            </span>
                            <span class="b2">
                                10m
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="b1">
                                Nhà bếp
                            </span>
                            <span class="b2">
                                <img alt="check" src="~/images/check.gif" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="warning">
                    <b>Lưu Ý:</b> <br />
                    <p>
                        Quý khách đang xem chuyên mục : Cho thuê nhà phố mặt tiền Thành phố Biên Hoà, Đồng Nai là chủ nhân, là khách hàng trực tiếp rao bán nên trước khi rao bán chúng tôi đã kiểm duyệt kỹ lưỡng. Tuy nhiên chúng tôi không chịu trách nhiện mọi thông tin về tin rao bán. Khách hàng có thể liên hệ trực tiếp đến người rao tin. Khi khách hàng mua bán thấy có dấu hiệu lạm dụng không đúng. Quý khách gửi về cho chúng tôi ngay để kịp thời xữ lý. Chúng tôi luôn làm những gì hoàn thiện nhất cho khách hàng.
                    </p>
                </div>
            </div>
        </div>    
        
        <div class="otherchothue">
            @Html.Partial("_tinchothue")
        </div>

    </div>
    <div class="col-md-4">
        @Html.Partial("_bannerleft")

        @Html.Partial("_rightchothue")
    </div>
</div>