
<div class="hotproject">
    <div class="title main-bg-button1">
        Dự án nổi bật
    </div>

    <div class="listhot">
        <ul>
            <li>
                <div class="image">
                    <img alt="txe" src="~/images/sasasas.jpg" />
                </div>
                <div class="locaname">
                    <div class="name">
                        <a href="#">
                            Vincom Thương Mại Biên Hoà
                        </a>
                    </div>
                    <div class="location">
                        Thành phố Biên Hoà, Đồng Nai
                    </div>
                </div>
            </li>

            <li>
                <div class="image">
                    <img alt="txe" src="~/images/bandao.jpg" />
                </div>
                <div class="locaname">
                    <div class="name">
                        <a href="#">
                            Vincom Thương Mại Biên Hoà
                        </a>
                    </div>
                    <div class="location">
                        Thành phố Biên Hoà, Đồng Nai
                    </div>
                </div>
            </li>

            <li>
                <div class="image">
                    <img alt="txe" src="~/images/vicom.jpg" />
                </div>
                <div class="locaname">
                    <div class="name">
                        <a href="#">
                            Vincom Thương Mại Biên Hoà
                        </a>
                    </div>
                    <div class="location">
                        Thành phố Biên Hoà, Đồng Nai
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
