
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-8">
        <div class="allproject">
            <div class="title main-bg-button1">
                Dự án bất động sản tại bình dương
            </div>

            <div class="row listallproject">
                <ul>
                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/sasasas.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/vicom.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/bandao.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/sasasas.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/vicom.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/bandao.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/sasasas.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/vicom.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>

                    <li class="col-md-4">
                        <a href="#">
                            <div class="image">
                                <img alt="ss" src="~/images/bandao.jpg" />
                            </div>
                            <div class="nameproject">
                                Vincom Thương Mại  Biên Hoà
                            </div>
                            <div class="location">
                                Thành phố Biên Hoà, Đồng Nai
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_leftduan")

        @*@Html.Partial("_bannerleft")*@
    </div>
</div>

