
@{
    ViewBag.Title = "Detail";
}


<div>
    <div class="row">
        <div class="col-md-8 detailnews">
            <div class="contentnews">
                <div class="title">
                    <h3>
                        Nhà độc và lạ
                    </h3>
                </div>
                <div class="uptime">
                    Cập nhật: 09:10 08/11/2017
                </div>
            </div>

            <div class="othernews">
                <p>
                    <b>Tin cũ hơn</b>
                </p>
                <ul>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            @Html.Partial("_leftdetail")

            @Html.Partial("_bannerleft")
        </div>
    </div>
</div>

