
@{
    ViewBag.Title = "Thread";
}

<div class="row">
    <div class="col-md-8">
        <div class="listnews">
            <div class="title main-bg-button1">
                Tin tức thị trường
            </div>

            <ul>
                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#">
                                <img  alt="hinh" src="~/images/hieu-dung-ve-phong-thuy1458359355100x100.jpg"/>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <div class="subject">
                                <a href="#">
                                    Hiểu đúng về phong thủy, nhà đất đồng nai
                                </a>
                            </div>
                            <div class="descript">
                                Nhắc đến phong thủy, người ta thường nghĩ ngay đến việc xem tử vi, xem tuổi, xem tướng, hướng nhà, bố trí phòng ốc sân vườn… Nhưng thực sự, phong thủy không chỉ có vậy...
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#">
                                <img alt="hinh" src="~/images/20160307080317864100x100.jpg" />
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <div class="subject">
                                <a href="#">
                                    Hiểu đúng về phong thủy, nhà đất đồng nai
                                </a>
                            </div>
                            <div class="descript">
                                Nhắc đến phong thủy, người ta thường nghĩ ngay đến việc xem tử vi, xem tuổi, xem tướng, hướng nhà, bố trí phòng ốc sân vườn… Nhưng thực sự, phong thủy không chỉ có vậy...
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#">
                                <img alt="hinh" src="~/images/sssss.jpg" />
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <div class="subject">
                                <a href="#">
                                    Hiểu đúng về phong thủy, nhà đất đồng nai
                                </a>
                            </div>
                            <div class="descript">
                                Nhắc đến phong thủy, người ta thường nghĩ ngay đến việc xem tử vi, xem tuổi, xem tướng, hướng nhà, bố trí phòng ốc sân vườn… Nhưng thực sự, phong thủy không chỉ có vậy...
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#">
                                <img alt="hinh" src="~/images/sdasdas.jpg" />
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <div class="subject">
                                <a href="#">
                                    Hiểu đúng về phong thủy, nhà đất đồng nai
                                </a>
                            </div>
                            <div class="descript">
                                Nhắc đến phong thủy, người ta thường nghĩ ngay đến việc xem tử vi, xem tuổi, xem tướng, hướng nhà, bố trí phòng ốc sân vườn… Nhưng thực sự, phong thủy không chỉ có vậy...
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="col-md-4">

        @Html.Partial("_leftdetail")

        @Html.Partial("_bannerleft")

    </div>
</div>

