@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="~/ckeditor/ckeditor.js"></script>
<p>Use this area to provide additional information.</p>
<textarea id="test_CK">

</textarea>
<script>
    CKEDITOR.replace("test_CK");
</script>