
@{
    ViewBag.Title = "Banners";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}
<div id="page-heading">
    <h1>Danh sách Banners</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-success" href="/Cpanel/BDS_TINTUC/">Thêm mới Banner</a>
        </div>
    </div>
</div>
<div class="container" style="background-color:#ffffff; padding:5px 5px"></div>
