<div class="bdsnoibat">
    <div class="mtitle main-bg-button1 noibattitle">
        bất động sản nổi bật
    </div>
    <div class="row shownoibat">
        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/a.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/b.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/c.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/d.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/e.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/f.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="colnoibat">
                <div class="efirst">
                    <div class="floatleft">
                        <div class="rating">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="floatright">
                        Hôm nay
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eimg">
                    <a href="#">
                        <img alt="2" src="~/images/content/g.jpg" />
                    </a>
                </div>
                <div class="nbtitle">
                    <a href="#">
                        Xem Ngay Bây Giờ Hoặc Không Bao Giờ, Đất 2 Mặt Tiền Đối Diện Vincom
                    </a>
                </div>
                <div class="nbdetail">
                    <span class="dongia">
                        1.4 triệu/m2
                    </span> |
                    <span>
                        379 m2
                    </span>
                </div>
                <div class="nbaddress">
                    Đường Tân Cang, Thành phố Biên Hoà
                </div>
            </div>
        </div>


    </div>


    <div class="paging">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
