<div class="detailbds">
    <div class="bds-title">
        Bất động sản bình dương
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                Nhà đất bán
            </p>
            <ul>
                <li>
                    <a href="#">
                        Thành phố Thủ Dầu Một (<span>1234</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Thị Xã Dĩ An (<span>567</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Thị Xã Thuận An (<span>890</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Thị Xã Tân Uyên (<span>123</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Huyện Bến Cát (<span>456</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Huyện Dầu Tiếng (<span>789</span>)
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <p>
                Nhà đất cho thuê
            </p>
            <ul>
                <li>
                    <a href="#">
                        Thành phố Thủ Dầu Một (<span>1234</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Thị Xã Dĩ An (<span>567</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Thị Xã Thuận An (<span>890</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Thị Xã Tân Uyên (<span>123</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Huyện Bến Cát (<span>456</span>)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Huyện Dầu Tiếng (<span>789</span>)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
