<div class="favtool">
    <ul>
        <li>
            <a href="#">
                <img alt="tham khao" src="~/images/thamkhao.png" /> Tham khảo lãi xuất
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="tham khao" src="~/images/xuhuong.png" /> Xu hướng phong thuỷ
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="tham khao" src="~/images/ngoaite.png" /> Tỷ giá ngoại tệ
            </a>
        </li>
    </ul>
</div>
