<div class="footer">

    <div class="menufooter main-bg-button1">
        <ul>
            <li>
                <a href="#">
                    Giới thiệu
                </a>
            </li>

            <li>
                <a href="#">
                    Nhà đất bán
                </a>
            </li>
            <li>
                <a href="#">
                    Nhà đất cho thuê
                </a>
            </li>
            <li>
                <a href="#">
                    Kinh nghiệm
                </a>
            </li>
            <li>
                <a href="#">
                    Xem bản đồ
                </a>
            </li>
            <li>
                <a href="#">
                    Kiên hệ - ký gửi
                </a>
            </li>
            <li>
                <a href="#">
                    Dịch vụ
                </a>
            </li>
            <li>
                <a href="#">
                    Quảng cáo
                </a>
            </li>
        </ul>
    </div>

    <div class="row footerdetail">
        <div class="col-md-3">
            <img alt="i" src="~/images/logo.png" />
        </div>

        <div class="col-md-9">
            <div class="ename">
                KÊNH THÔNG TIN SỐ 1 TẠI THỊ TRƯỜNG BẤT ĐỘNG SẢN ĐỒNG NAI
            </div>
            <div>
                <b>
                    Địa Chỉ:
                </b>
                Số 39/99, Khu Phố 10, Hố Nai  - Biên Hòa - Đồng Nai
            </div>
            <div>
                <b>Hotline:</b> 01684.052.925
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#">
                            <img alt="fb" src="~/images/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="fb" src="~/images/gp.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="fb" src="~/images/yt.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="fb" src="~/images/tw.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <b>Gmail:</b> nhadatdongnai247@gmail.com  | <b>Website:</b> nhadatdongnai247.com.vn
            </div>
            <div>&copy; @DateTime.Now.Year - Nhà đất bình dương. All rights reserved.</div>
        </div>
    </div>
</div>
