<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@

            <div class="col-md-8 lefttool">
                <a href="#">
                    Tin nhanh bất động sản
                </a> |
                <a href="#">
                    Đường dây nóng: <span class="hotline">0978.757.125</span>
                </a> |
                <a href="#">
                    Tư vấn hỏi đáp
                </a> |
                <a href="#">
                    Hỗ trợ
                </a>
            </div>
            <div class="col-md-4 headertool">
                <a href="/LienHe/">
                    Liên hệ
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container boxlogo">
    <div class="row">
        <div class="col-md-2" style="text-align:center; padding-right:0">
            <a href="/">
                <img alt="logo" src="~/images/logo.png" />
            </a>
        </div>
        <div class="col-md-10">
            <a href="#">
                <img alt="logo" class="gifbanner" src="~/images/nhadatdongnai_topbanner(4).gif" />
            </a>
        </div>
    </div>
</div>

<div class="slidemarquee">
    <div class="martitle">
        <img alt="hot" src="~/images/hot.gif" /> Hỗ trợ đăng tin chính chủ tại đồng nai
    </div>
    <div class="marslide">
        <marquee class="GeneratedMarquee" direction="left" scrollamount="6" behavior="scroll">Hướng Dẫn Đăng Tin Chính Chủ Hiệu Quả Nhất l Liên Hệ : Mr Trình ( 01684.052.925 ) ​</marquee>
    </div>
</div>
