<div class="hotnews">
    <div class="newstitle main-bg-button1 mtitle">
        Tin tức nổi bật
    </div>

    <div class="ctnhotnews">
        <div class="firsthot">
            <a href="#">
                <img alt="1" src="~/images/content/1.jpg" />
            </a>
            <a href="#">BẤT ĐỘNG SẢN LONG THÀNH - CHƯA HỀ CÓ DẤU HIỆU GIẢM NHIỆT</a>
        </div>

        <ul>
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/2.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/3.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/4.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/5.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/6.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
