
<div class="leftdetail">
    <div class="hotnews">
        <div class="title">
            Tin tức nổi bật
        </div>

        <ul>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
        </ul>
    </div>

    <div class="moreuserread">
        <div class="title">
            Tin nhiều người đọc
        </div>

        <ul>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
            <li>
                <a href="#">
                    Đảm bảo dự án không đứt đoạn
                </a>
            </li>
            <li>
                <a href="#">
                    Nóng tình trạng phân lô bán nền trái pháp luật, tại đất đồng nai
                </a>
            </li>
        </ul>
    </div>
</div>
