@using bds.Areas.Cpanel.Models
@model IEnumerable<MENU>
@using bds.Models
@{ Helper h = new Helper();}

<div class="menubar main-bg-button1">
    <ul class="dropdown">
        <li class="parent">
            <a href="/">
                <img alt="home" src="~/images/home-hover.png" />
            </a>
        </li>

        @foreach(var q in Model)
        {
            <li class="parent">
                <a href="~/@q.IdMenu/@q.url">
                    @q.TenMenu
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </a>

                <ul class="sub_menu">
                    @foreach (var x in h.getChildMenu(q.IdMenu))
                    {
                        <li>
                            <a href="~/@x.IdMenu/@x.url">
                                Cần bán @x.TenMenu
                            </a>
                        </li>
                    }
                </ul>

            </li>
        }

        <li class="parent">
            <a href="#">
                Liên hệ - góp ý
            </a>
        </li>

        @*<li class="parent">
            <a href="#">
                Mua bán nhà đất
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>

            <ul class="sub_menu">
                <li><a href="#">Artificial Turf</a></li>
                <li>
                    <a href="#">Batting Cages</a>
                    <ul>
                        <li><a href="#">Indoor</a></li>
                        <li><a href="#">Outdoor</a></li>
                    </ul>
                </li>
                <li><a href="#">Benches &amp; Bleachers</a></li>
                <li><a href="#">Communication Devices</a></li>
                <li><a href="#">Dugouts</a></li>
                <li><a href="#">Fencing &amp; Windscreen</a></li>
                <li><a href="#">Floor Protectors</a></li>
                <li><a href="#">Foul Poles</a></li>
                <li><a href="#">Netting</a></li>
                <li><a href="#">Outdoor Furniture &amp; Storage</a></li>
                <li><a href="#">Outdoor Signs</a></li>
                <li><a href="#">Padding</a></li>
                <li><a href="#">Scoreboards</a></li>
                <li><a href="#">Shade Structures</a></li>
                <li><a href="#"> - VIEW ALL - </a></li>
            </ul>


        </li>
        <li class="parent">
            <a href="#">
                Cho thuê nhà đất
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>

            <ul class="sub_menu">
                <li><a href="#">Artificial Turf</a></li>
                <li>
                    <a href="#">Batting Cages</a>
                    <ul>
                        <li><a href="#">Indoor</a></li>
                        <li><a href="#">Outdoor</a></li>
                    </ul>
                </li>
                <li><a href="#">Benches &amp; Bleachers</a></li>
                <li><a href="#">Communication Devices</a></li>
                <li><a href="#">Dugouts</a></li>
                <li><a href="#">Fencing &amp; Windscreen</a></li>
                <li><a href="#">Floor Protectors</a></li>
                <li><a href="#">Foul Poles</a></li>
                <li><a href="#">Netting</a></li>
                <li><a href="#">Outdoor Furniture &amp; Storage</a></li>
                <li><a href="#">Outdoor Signs</a></li>
                <li><a href="#">Padding</a></li>
                <li><a href="#">Scoreboards</a></li>
                <li><a href="#">Shade Structures</a></li>
                <li><a href="#"> - VIEW ALL - </a></li>
            </ul>

        </li>
        <li class="parent">
            <a href="#">
                Dự án
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
        </li>
        <li class="parent">
            <a href="#">
                Tin tức
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
        </li>
        <li class="parent">
            <a href="#">
                kiến trúc
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
        </li>
        <li class="parent">
            <a href="#">
                phong thuỷ
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
        </li>
        <li class="parent">
            <a href="#">
                dịch vụ
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
        </li>*@
    </ul>
</div>
