<div class="boxsearch">
    <div class="main-bg-button1 searchtitle">
        @*<img alt="tim kiem" src="~/images/search.png" />*@ Tìm kiếm
    </div>
    <div class="searchcontent">
        <div class="row">
            <div class="col-md-12">
                <input type="text" placeholder="Nhập nội dung tìm kiếm" style="max-width:100%" id="tieude" name="tieude" class="form-control">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control">
                    <option>Cần bán</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-control">
                    <option>--- Loại BĐS ---</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control">
                    <option>-- Quận Huyện --</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-control">
                    <option>--- Mức giá ---</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control">
                    <option>--- Hướng ---</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-control">
                    <option>--- Diện tích ---</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4" style="text-align:right; padding-right:22px;">
                <input type="button" value="Tìm kiếm" class="btn btn-sm btn-primary" />
            </div>
        </div>
    </div>
</div>
