<div class="menusocial row">
    <div class="floatleft social col-md-6">
        <ul>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/fb.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/gp.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/yt.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/tw.png" />
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6 floatright" style="width:auto;">
        <ul>
            <li>
                <a href="#" class="dtnd">
                    <img alt="dang tin" src="~/images/dangtin.png" /> <b>Đăng tin</b>
                </a>
            </li>
            <li>
                <a href="#" class="dktv">
                    <img alt="reg" src="~/images/dangky.png" /> <b>Đăng ký</b>
                </a>
            </li>
            <li>
                <a href="#" class="dn" id="btnlogin">
                    <img alt="dang nhap" src="~/images/dangnhap.png" /> <b>Đăng nhập</b>
                </a>
            </li>
            <li>
                <a href="#" class="ql">
                    <img alt="dang tin" src="~/images/quanly.png" /> <b>Quản lý</b>
                </a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>
</div>


<div class="loginbox box-shadow">
    <span class="close">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </span>
    <div class="logintitle main-title">
        <img alt="login" src="~/images/luser.png"/> Đăng nhập
    </div>
    <div class="contentlogin">
        <div class="linelog">
            <span>
                <img alt="login" src="~/images/luser.png" />
            </span>
            <input type="text" id="username" name="username" class="form-control" placeholder="tên đăng nhập" />
        </div>
        <div class="linelog">
            <span>
                <img alt="login" src="~/images/llock.png" />
            </span>
            <input type="password" id="password" name="password" class="form-control" placeholder="mật khẩu" />
        </div>
        <div class="linelog">
            <input id="ckRemember" type="checkbox" /> Tự động truy cập lần sau !
        </div>
        <div class="linelog">
            <input id="btnLogin" type="button" class="btn btn-sm btn-primary" value="Đăng nhập" />
            <input id="btnExit" type="button" value="Thoát" class="btn btn-sm btn-danger" />
        </div>
    </div>
</div>


<div class="boxregister box-shadow">
    <span class="close">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </span>
    <div class="register main-title">
        <img alt="login" src="~/images/luser.png" /> Đăng ký thành viên
    </div>

    <div class="formreg">
        <div class="row">
            <div class="col-md-4">
                Tên truy cập<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="text" id="txtUserName" name="txtUserName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Mật khẩu<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="password" id="txtPassword" name="txtPassword" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Nhập lại mật khẩu<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="password" id="txtConfirm" name="txtConfirm" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Họ tên<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="text" id="txtFullName" name="txtFullName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Di động<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="text" id="txtMobile" name="txtMobile" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Thư điện tử<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="text" id="txtEmail" name="txtEmail" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Quận Huyện<span>*</span>
            </div>
            <div class="col-md-8">
                <input type="text" id="txtDistrict" name="txtDistrict" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Mã an toàn
            </div>
            <div class="col-md-8">
                @*<input type="text" id="txtDistrict" name="txtDistrict" class="form-control" />*@
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-8">
                <input type="submit" class="btn btn-sm btn-primary" value="Đăng Ký" />
                <input type="reset" class="btn btn-sm btn-danger" value="Làm Lại" />
            </div>
        </div>
    </div>
</div>
