<div class="menusocial row">
    <div class="floatleft social col-md-6">
        <ul>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/fb.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/gp.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/yt.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="fb" src="~/images/tw.png" />
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6 floatright" style="width:auto;">
        <ul>
            <li>
                <a href="/home/newthread" class="dtnd">
                    <img alt="dang tin" src="~/images/dangtin.png" /> <b>Đăng tin</b>
                </a>
            </li>
            @if (Session["username"] == null)
            {
                <li>
                    <a href="javascript:" class="dktv">
                        <img alt="reg" src="~/images/dangky.png" /> <b>Đăng ký</b>
                    </a>
                </li>
                <li>
                    <a href="javascript:" class="dn" id="btnlogin">
                        <img alt="dang nhap" src="~/images/dangnhap.png" /> <b>Đăng nhập</b>
                    </a>
                </li>

                @Html.Partial("_loginbox")
                @Html.Partial("_registerbox")
            }
            else
            {
                <li>
                    <a href="/home/usercontrol" class="ql">
                        <img alt="dang tin" src="~/images/quanly.png" /> <b>Quản lý</b>
                    </a>
                </li>
            }

            
        </ul>
    </div>

    <div class="clear"></div>
</div>






