<div class="newsbds">
    <div class="newsbdstitle mtitle main-bg-button1">
        Tin bất động sản mới
    </div>

    <div class="ctnbdsnews">
        <div class="row dtbds">
            <div class="col-md-3">
                <a href="#">
                    <img alt="1" src="~/images/content/a.jpg" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="titlebds">
                    <a href="#">
                        XEM NGAY BÂY GIỜ HOẶC KHÔNG BAO GIỜ, ĐẤT 2 MẶT TIỀN ĐỐI DIỆN VINCOM
                    </a>
                </div>
                <div class="descbds">
                    GIÁ TỐT NHẤT THỊ TRƯỜNG LONG THÀNH thuộc xã Long Phước, tỉnh Đồng Nai chỉ từ 1.4 triệu/m2. Khách hàng sở hữu ngay nền đất biệt thự sổ hồng, xây dựng tự do, công chứng ngay, hạ tầng hoàn thiện
                </div>
                <div class="row bdsdetail">
                    <div class="col-md-7">
                        <div>
                            <span>
                                Diện tích:
                            </span>
                            <span>
                                479 m2
                            </span>
                        </div>
                        <div>
                            <span>
                                Khu vực:
                            </span>
                            <span>
                                Huyện Long Thành
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        900 triệu
                    </div>
                </div>
            </div>
        </div>


        <div class="row dtbds">
            <div class="col-md-3">
                <a href="#">
                    <img alt="1" src="~/images/content/b.jpg" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="titlebds">
                    <a href="#">
                        XEM NGAY BÂY GIỜ HOẶC KHÔNG BAO GIỜ, ĐẤT 2 MẶT TIỀN ĐỐI DIỆN VINCOM
                    </a>
                </div>
                <div class="descbds">
                    GIÁ TỐT NHẤT THỊ TRƯỜNG LONG THÀNH thuộc xã Long Phước, tỉnh Đồng Nai chỉ từ 1.4 triệu/m2. Khách hàng sở hữu ngay nền đất biệt thự sổ hồng, xây dựng tự do, công chứng ngay, hạ tầng hoàn thiện
                </div>
                <div class="row bdsdetail">
                    <div class="col-md-7">
                        <div>
                            <span>
                                Diện tích:
                            </span>
                            <span>
                                479 m2
                            </span>
                        </div>
                        <div>
                            <span>
                                Khu vực:
                            </span>
                            <span>
                                Huyện Long Thành
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        900 triệu
                    </div>
                </div>
            </div>
        </div>


        <div class="row dtbds">
            <div class="col-md-3">
                <a href="#">
                    <img alt="1" src="~/images/content/c.jpg" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="titlebds">
                    <a href="#">
                        XEM NGAY BÂY GIỜ HOẶC KHÔNG BAO GIỜ, ĐẤT 2 MẶT TIỀN ĐỐI DIỆN VINCOM
                    </a>
                </div>
                <div class="descbds">
                    GIÁ TỐT NHẤT THỊ TRƯỜNG LONG THÀNH thuộc xã Long Phước, tỉnh Đồng Nai chỉ từ 1.4 triệu/m2. Khách hàng sở hữu ngay nền đất biệt thự sổ hồng, xây dựng tự do, công chứng ngay, hạ tầng hoàn thiện
                </div>
                <div class="row bdsdetail">
                    <div class="col-md-7">
                        <div>
                            <span>
                                Diện tích:
                            </span>
                            <span>
                                479 m2
                            </span>
                        </div>
                        <div>
                            <span>
                                Khu vực:
                            </span>
                            <span>
                                Huyện Long Thành
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        900 triệu
                    </div>
                </div>
            </div>
        </div>


        <div class="row dtbds">
            <div class="col-md-3">
                <a href="#">
                    <img alt="1" src="~/images/content/d.jpg" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="titlebds">
                    <a href="#">
                        XEM NGAY BÂY GIỜ HOẶC KHÔNG BAO GIỜ, ĐẤT 2 MẶT TIỀN ĐỐI DIỆN VINCOM
                    </a>
                </div>
                <div class="descbds">
                    GIÁ TỐT NHẤT THỊ TRƯỜNG LONG THÀNH thuộc xã Long Phước, tỉnh Đồng Nai chỉ từ 1.4 triệu/m2. Khách hàng sở hữu ngay nền đất biệt thự sổ hồng, xây dựng tự do, công chứng ngay, hạ tầng hoàn thiện
                </div>
                <div class="row bdsdetail">
                    <div class="col-md-7">
                        <div>
                            <span>
                                Diện tích:
                            </span>
                            <span>
                                479 m2
                            </span>
                        </div>
                        <div>
                            <span>
                                Khu vực:
                            </span>
                            <span>
                                Huyện Long Thành
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        900 triệu
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
