@model bds.Areas.Cpanel.Models.TINHTHANH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<div id="page-heading">
    <h1>Xóa  <span style="font-style:italic; color:#ff0000">@Model.TenTT</span> </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-success" href="/Cpanel/TINHTHANH/">Quay lại DM Tỉnh thành</a>

        </div>
    </div>
</div>

<div class="container" style="background-color:#ffffff; padding:2px">
    <div class="alert alert-warning"><strong>Cảnh báo!</strong> Bạn hãy chắc chắn rằng, nếu xóa danh mục này, thì các danh mục con của nó cũng sẽ bị xóa theo.</div>
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTT)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
