@model bds.Areas.Cpanel.Models.BDS_DIENTICH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}
<div id="page-heading">
    <h1>Xóa Diện tích</h1>
    <div class="options">
        <div class="btn-toolbar">
            @*<a class="btn btn-success" href="/Cpanel/BDS_LOAIBDS/">Quay lại DM Loại BDS</a>*@
        </div>
    </div>
</div>
<div class="container" style="background-color:#ffffff; padding:2px">
    <div class="alert alert-dismissable alert-danger">
        <strong></strong> Bạn có chắc chắn muốn xóa nó không?
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
    <div>

        <dl class="dl-horizontal">
            <dt>
                Diện tích
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDT)
            </dd>

            <dt>
                Số thứ tự
            </dt>

            <dd>
                @Html.DisplayFor(model => model.STT)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
    </div>