@model IEnumerable<bds.Areas.Cpanel.Models.BDS_DIENTICH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}
<div id="page-heading">
    <h1>Danh mục Diện tích</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-success" href="/Cpanel/BDS_DIENTICH/Create"><i class="fa fa-plus-square-o"></i>Thêm mới</a>

        </div>
    </div>
</div>
<div class="container" style="background-color:#ffffff; padding:5px 20px">
    <table  class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Diện tích
                </th>
                <th>
                    Số thư tự
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STT)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdDT }) |
                    
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdDT })
                </td>
            </tr>
        }

    </table>
</div>